@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

@layer base {
    html, body, #root ,.home{
        @apply h-full;
        background: radial-gradient(rgba(46, 103, 220, 0.1), rgba(0, 0, 0, 0.1));
        background: radial-gradient(rgba(211, 37, 199, 0.3), rgba(0, 0, 0, 0.3));
        background: linear-gradient(to right, rgba(211, 37, 199, 1),rgba(46, 103, 220, 1));
    }
}